.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 120px;
  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;

  @media (max-width: 744px) {
    padding: 0 70px;
    grid-template-columns: repeat(6, 1fr);


    .cards {
      grid-template-columns: 1fr;
    }

    .contact__info,
    .form {
      grid-column: 1 / -1;
      padding-bottom: 120px;
    }

    .contact__title {
      padding-top: 120px;
    }

    .about__title {
      grid-column: 1 / 4;
    }

    .about__description {
      grid-column: 4 / 7;
      margin-left: 0;
    }

    .gallery__title {
      grid-column: 1 / 7;
      font-size: 40px;
      line-height: 100%;
    }

    .categories {
      grid-column: 1 / 7;
    }
  }

  @media (max-width: 320px) {
    padding-inline: 20px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    .header {
      &__title {
      grid-column: 1 / -1;
      font-size: 36px;
      max-width: 280px;
      }

      &__top {
        grid-column: 1 / -1;
        height: 72px;
      }

      &__logo
      img {
        display: block;
        height: 16px;
        width: 125px;
      }

      &__phone-icon {
        width: 24px;
        height: 24px;
      }

      &__burger-icon,
      &__burger-icon--hover {
        width: 24px;
        height: 24px;
      }
    }

    .products {
      &__title {
        grid-column: 1 / -1;
        width: 280px;
        font-size: 38px;
      }
    }

    .gallery {
      grid-column: 1 / -1;

      &__title {
      width: 280px;
      font-size: 32px;
      }
    }

    .categories {
      grid-column: 1 / -1;

      &__button {
        width: 280px;
      }
    }


    .category {
      grid-column: 1 / -1;

      &__title {
        font-size: 18px;
      }

      &__image-1,
      &__image-2,
      &__image-3,
      &__image-4,
      &__image-5,
      &__image-6 {
        width: 130px;
        height: 130px;
      }
    }

    .about {
      &__title {
        grid-column: 1 / -1;
        font-size: 32px;
        padding-bottom: 24px;
      }

      &__description {
        grid-column: 1;
        width: 280px;
      }
    }

    .footer {
      &__image {
        width: 280px;
        height: 200px;
      }
    }


  }
}


