.about {
  @include container;

  padding-top: 56px;
  padding-bottom: 220px;

  &__title {
    grid-column: 1 / 5;
    font-size: 48px;
    line-height: 48px;
  }

  &__description {
    grid-column: 7 / -1;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    letter-spacing: 1px;
  }

  @media (max-width: 820px) {
    &__title {
      grid-column: 1 / 4;
    }

    &__description {
      grid-column: 4 / 7;
      margin-left: 0;
    }
  }

  @media (max-width: 460px) {
    &__title {
      grid-column: 1;
      font-size: 32px;
      padding-bottom: 24px;
    }

    &__description {
      grid-column: 1;
      width: 280px;
    }
  }
}
