.form {
  grid-column: 1 / 6;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 120px;

  input,
  textarea {
    padding: 16px;
    background-color: $color-bg-form;
    border: 1px solid transparent;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    line-height: 140%;
    outline: none;
    border-radius: 8px;
    transition:
      border $transition-duration,
      background-color $transition-duration;

    &:hover {
      border: 1px solid #d5d7de;
      background-color: $color-border-form;
    }

    &:focus {
      border: 1px solid $color-dark;
    }
  }

  &__button {
    height: 54px;
    margin-top: 32px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    background-color: $color-bg-form;
    cursor: pointer;
    transition:
      border $transition-duration,
      background-color $transition-duration;

    &:hover {
      border: 1px solid #d5d7de;
      background-color: $color-border-form;
    }
  }

  @media (max-width: 744px) {
    grid-column: 1 / -1;
    padding-bottom: 120px;
  }
}
