.about {
  padding-top: 56px;

  &__title {
    grid-column: 1 / 5;
    font-size: 48px;
    line-height: 48px;
  }

  &__description {
    grid-column: 7 / -1;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    letter-spacing: 1px;
  }
}
