.contact {

  &__title {
    font-size: 48px;
    line-height: 48px;
    grid-column: 1 / -1;
    padding-bottom: 56px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-column: 7 / 13;
    padding-bottom: 240px;
    gap: 24px;
  }

  &__info-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__info-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: $color-label;
  }

  &__info-value {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

    a {
      color: $color-value;
    }
  }
}
