.footer {
  &__image {
    display: block;
    background-image: url('../images/Image-footer.svg');
    background-size: cover;
    background-position: center;
    height: 524px;
    width: 100%;
  }
}
