.footer {
  &__image {
    display: block;
    background-image: url('../images/Image-footer.svg');
    background-size: cover;
    background-position: center;
    height: 526px;
    width: 100%;

    @media (max-width: 744px) {
      height: 300px;
    }

    @media (max-width: 320px) {
      height: 200px;
    }
  }
}
