@import './blocks/mixins/mixin';
@import './blocks/animations/animation';
@import './blocks/variables/variables';
@import './blocks/header/header';
@import './blocks/menu/menu';
@import './blocks/cards/card';
@import './blocks/gallerys/gallery';
@import './blocks/footer-info/footer';
@import './blocks/footer-info/about';
@import './blocks/footer-info/contact';
@import './blocks/form/form';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.page {
  font-family: 'Space Grotesk', sans-serif;
  color: $color-dark;
  background-color: $color-white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
