.products {

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 56px;
    font-size: 48px;
  }
}

.cards {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  &__image {
    width: 100%;
    display: block;
  }

  &__title {
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 8px;
  }

  &__description {
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    padding-bottom: 12px;
  }

  &__price {
    font-size: 16px;
    font-weight: bold;
  }

  &__link {
    display: block;
    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.02);
    }
  }
}
