.header {
  animation: fade-in $animation-duration ease-in-out;
  background-image: url('../images/Image-header.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
  margin-bottom: 120px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
  }

  &__title {
    padding-top: 420px;
    font-size: 56px;
    grid-column: 1 / 6;
    width: 498px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__logo {
    img {
      display: block;
      height: 24px;
    }
  }

  &__phone-number {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: opacity $transition-duration;
    font-family: Inter, sans-serif;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    color: $color-dark;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 12px;

    &__phone-icon {
      width: 24px;
      height: 24px;
    }

    &:hover {
      .header__phone-number {
        opacity: 1;
        width: auto;
      }
    }
  }

  &__burger-icon--hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__burger {
    position: relative;
    display: flex;
    align-items: center;

    .header__burger-icon,
    .header__burger-icon--hover {
      width: 24px;
      height: 16px;
    }

    &:hover {
      .header__burger-icon {
        opacity: 0;
        transition: opacity $transition-duration;
      }

      .header__burger-icon--hover {
        opacity: 1;
      }
    }
  }
}
